<ion-content>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet">
    <link href="assets/css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet" type="text/css">
	<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet" type="text/css">
	<style>
		.fa-map-marker {
			color: #B40404;
		}
		.fa-cloud-upload {
			color: #107900;
		}
		.nearby {
			font-weight: bold;
		}
		.hr {
			border-bottom: 1px solid #BBBBBB !important;
		}
		h3 {
            margin-top: 0px !important;
            margin-bottom: 5px !important;
            font-weight: 600 !important;
            color: #005D41 !important;
        }
	</style>
	
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left"><small><img src="assets/img/logo.png" alt=""></small></div>
                <div (click)='showMenu();' class="sidebar-collapse">
					<i class="collapse-icon fa fa-bars"></i>
				</div>
            </div>
        </div>
    </div>
	
	<div #sidebar id="sidebar" class="page-sidebar sidebar-fixed">
		<div class="sidebar-header-wrapper">
			<input type="text" class="searchinput"><i class="searchicon fa fa-search"></i>
			<div class="searchhelper">Buscar ofertas</div>
		</div>
		<ul class="nav sidebar-menu">
			<li class="nearby"><a [navPush]="nearbyPage"><i class="menu-icon fa fa-map-marker"></i><span class="menu-text ng-binding"> Ofertas Cercanas</span></a></li>
			<li class="nearby"><a [navPush]="offerupPage"><i class="menu-icon fa fa-cloud-upload"></i><span class="menu-text ng-binding"> Subir Oferta</span></a></li>
			<li class="nearby hr"><a [navPush]="nearbyPage"><i class="menu-icon fa fa-comment"></i><span class="menu-text ng-binding"> Mensaje</span></a></li>
		</ul>
		<ul class="nav sidebar-menu">
			<li class="nearby"><a (click)="logout()"><i class="menu-icon fa fa-sign-out"></i><span class="menu-text ng-binding"> Cerrar Sesión</span></a></li>
		</ul>
		<ul class="nav sidebar-menu" *ngFor="let category of categories">	
			<li><a (click)="goToCategory(category._id)"><i class="menu-icon {{category.classes}}"></i><span class="menu-text ng-binding"> {{category.category}}</span></a></li>
		</ul>
	</div>
	
	<div class="widget-body">
		<div *ngFor="let offer of offers" class="comment">
			<div class="comment-body">
				<div class="comment-text">
					<div class="comment-header">
						<h3 (click)="goToOffer(offer.id)">{{offer.title}}</h3>			
					</div>
					<img class="img-dash" src="{{offer.thumbnail}}" style="width: 100px;">
					{{offer.commentary}}
					<hr/>
					<span class="badge badge-primary badge-square"> Tienda : {{offer.shop}}</span>
					<span class="badge badge-success badge-square"> Sucursal : {{offer.branch}}</span>			   
				</div>
			</div>
		</div> 
	</div>
</ion-content>
