<ion-content>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet">
    <link href="assets/css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet" type="text/css">
	<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet" type="text/css">
	<style>
		.navbar-container h2 {
			color: #FFFFFF;
			margin-top: 12px;
			margin-right: 15px;
			font-weight: bold;
			font-size: 18px !important; 
		}
		.navbar-container .fa {
			font-size:  30px;
			color: #FFFFFF;
			margin-top: 7px;
			margin-left: 7px;
		}
		.image {
			margin: 10px;
			box-shadow: 0 0 5px #000;
		}
		
		#map, #content-map {
			width: 100%;
			height: 100%;
			min-height: 300px !important;
		}
		#map {
			border-radius: 3px;
			border: 1px solid #CCC;
		}
		#content-map {
			padding-top: 45px;
		}
		.label {
			width: 100% !important;
		}
		.btn-default {
			color: #CCC !important;
			background: rgb(0, 131, 132) !important;
			border: 1px solid rgb(0, 113, 115) !important;
			box-shadow: 0 0 5px rgb(0, 113, 115) !important;
			transition: 0.5s;
		}
		.btn-default:hover {
			color: #FFFFFF !important;
			text-shadow: 0 0 10px #FFFFFF;
		}
		h3 {
            margin-top: 0px !important;
            margin-bottom: 5px !important;
            font-weight: 600 !important;
            color: #005D41 !important;
        }
	</style>
	
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-container">
				<div class="pull-left"><a [navPush]="dashboardPage"><i class="fa fa-arrow-left"></i></a></div>
				<div class="pull-right"><h2>Detalle de oferta</h2></div>
            </div>
        </div>
    </div>
    
    <div class="widget-body">
        <div  class="comment">
			<div class="comment-body">
				<div class="comment-text">
					<div class="comment-header">
						<h3>{{title}}</h3>				
						<div class="btn-group pull-right" style="margin-bottom: 5px;">
							<a class="btn btn-primary btn-xs" (click)="share_facebook()">Facebook <i class="fa fa-facebook"></i></a>
							<a class="btn btn-info btn-xs" (click)="share_twitter()">Twitter <i class="fa fa-twitter"></i></a>
							<a class="btn btn-danger btn-xs" (click)="share_google()">Google + <i class="fa fa-google-plus"></i></a>
						</div>
					</div>
					<img class="img-dash" src="{{thumbnail}}" style="width: 100px;">
					{{commentary}}
					<hr/>
					<a style="text-decoration: none; margin-right: 5px;" (click)="like('like')">
                        <i class="fa fa-thumbs-o-up fa-2x"></i><span id="" class="ng-binding">0</span>
			        </a>
			        
			        <a style="text-decoration: none" (click)="like('dislike')">
                        <i class="fa fa-thumbs-o-down fa-2x"></i><span id="" class="ng-binding">0</span>
			        </a>
			        
					<div class="pull-right">
                        <span class="badge badge-primary badge-square"> Tienda : {{shop}}</span>
                        <span class="badge badge-success badge-square"> Sucursal : {{branch}}</span>
					</div>
				</div>
				<button (click)="showComments()" class="btn btn-default" style="width: 100%; margin-top: 3px;">Comentarios <i class="fa fa-comments"></i></button>
			</div>
		</div> 
		
		
        <div  class="comment">
			<div class="comment-body">
                <div id="content-map">
                    <div #map id="map"></div>  
                </div>
			</div>
		</div> 
			
    </div>
</ion-content>
