<ion-content padding>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!---- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />--->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet" />
    <link href="assets/css/demo.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/css/sweetalert.css" rel="stylesheet" />
    
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="assets/js/sweetalert.min.js"></script>
	<style>
		ion-content {
			background: url('assets/img/background.jpg') !important;
			margin: 0 !important;
			border: 0 !important;
			height: 100%  !important;
		}
		ion-content:before {
			background-color: transparent;
		}
		.bg-white {
			background: rgba(255,255,255,0.8) !important;
		}
		.login-container .logobox {
			background: rgba(255,255,255,0.8) !important;
		}
	</style>
	
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white" >
            <div class="loginbox-title">Iniciar Sesión</div>
            <div class="loginbox-social">
                <div class="social-title ">Ingresa con redes sociales</div>
                <div class="social-buttons">
                    <!----<a [navPush]="dashboardPage" class="button-facebook">--->
					<a (click)="loginFacebook()" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>
                    <a (click)="loginTwitter()" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                    <a (click)="loginGoogle()" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="logobox" style="text-align: center;">
        	<img src="assets/img/logo.png" />
        </div>
    </div>

</ion-content>
