<ion-content>
	<style>
		.navbar-container h2 {
			color: #FFFFFF;
			margin-top: 12px;
			margin-right: 15px;
			font-weight: bold;
			font-size: 18px !important; 
		}
		.navbar-container .fa {
			font-size:  30px;
			color: #FFFFFF;
			margin-top: 7px;
			margin-left: 7px;
		}
		.step {
			padding: 10px !important;
		}
		.btn-group {
			width: 100%;
		}
		.btn-default {
			color: #CCC !important;
			background: rgb(0, 131, 132) !important;
			border: 1px solid rgb(0, 113, 115) !important;
			box-shadow: 0 0 5px rgb(0, 113, 115) !important;
			transition: 0.5s;
		}
		.btn-default:hover {
			color: #FFFFFF !important;
			text-shadow: 0 0 10px #FFFFFF;
		}
		.item {
			border: solid 1px #CCC;
		}
		.datetime-text:empty:not(:focus):before{
			content: "Please select a date"
		}
		.item-datetime {
			width: 100%;
			height: 25px !important;
			padding: 0 !important;
			font-size: 12px;
			color: #555;
			background-color: #fff;
			border: 1px solid #ccc;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
		.oculto {
			display: none !important;
		}
		.image {
			margin: 10px;
			box-shadow: 0 0 5px #000;
		}
		
		#map2, #content-map {
			width: 100%;
			height: 100%;
			min-height: 300px !important;
		}
		#map2 {
			border-radius: 3px;
			border: 1px solid #CCC;
		}
		#content-map {
			padding-top: 45px;
		}
		.label {
			width: 100% !important;
		}
	</style>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet">
    <link href="assets/css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet" type="text/css">
	<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet" type="text/css">
	
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-container">
				<div class="pull-left"><a [navPush]="dashboardPage"><i class="fa fa-arrow-left"></i></a></div>
				<div class="pull-right"><h2>Publicar Oferta</h2></div>
            </div>
        </div>
    </div>
    
	<div class="widget-body">
		<div class="step" #step1>
			<div class="form-group">
				<input type="text" [(ngModel)]="ofertaTitulo" class="form-control" placeholder="Titulo de oferta">
				<span #alerttitulo class="label label-danger oculto">Debe Ingresar el titulo</span>
			</div>
			
			<div class="form-group">
				<select [(ngModel)]="ofertaCategoria" class="form-control">
					<option *ngFor="let category of categories" value="{{category._id}}">{{category.category}}</option>
				</select>
				<span #alertcategoria class="label label-danger oculto">Debe seleccionar una categoria</span>
			</div>
			
			<div class="form-group">
				<input type="text" [(ngModel)]="ofertaPrecio" class="form-control" placeholder="Precio (CLP)">
				<span #alertprecio class="label label-danger oculto">Debe ingresar el precio</span>
			</div>
			
			<div class="form-group">
			  <input type="text" [(ngModel)]="ofertaTienda"  class="form-control input-sm" placeholder="Tienda">
			  <span #alerttienda class="label label-danger oculto">Debe ingresar la tienda</span>
			</div>
			
			<div class="form-group">
			  <input type="text" [(ngModel)]="ofertaSucursal" class="form-control input-sm" placeholder="Sucursal o Dirección">
			  <span #alertsucursal class="label label-danger oculto">Debe ingresar la sucursal</span>
			</div>
			
			<div class="form-group">
				<ion-item>
				  <ion-datetime [(ngModel)]="ofertaInicio" placeholder="Fecha de inicio" doneText="Ok" cancelText="Cancelar" displayFormat="YYYY-MM-DD" [(ngModel)]="beginDate"></ion-datetime>
				</ion-item>
				<span #alertinicio class="label label-danger oculto">Debe ingresar la fecha de inicio</span>

			</div>	
			
			<div class="form-group">
				<ion-item>
				  <ion-datetime [(ngModel)]="ofertaFin" placeholder="Fecha de Fin" doneText="Ok" cancelText="Cancelar" displayFormat="YYYY-MM-DD" [(ngModel)]="endDate"></ion-datetime>
				</ion-item>
				<span #alertfin class="label label-danger oculto">Debe ingresar la fecha de fin</span>
			</div>	
		
			
			<div class="form-group">
				<textarea [(ngModel)]="ofertaComentario" class="form-control" rows="3" placeholder="Comentarios"></textarea>
				<span #alertcomentario class="label label-danger oculto">Debe ingresar la fecha de fin</span>
			</div>
			
			<button type="button" style="width: 100%" class="btn btn-default btn-next" (click)="showStep(2)">Siguiente <i class="fa fa-angle-right"></i></button>
		</div>
		<div class="step oculto" #step2>
			<button #takephoto class="btn btn-success btn-lg" style="width: 100%; margin-bottom: 10px;" (click)="getPicture()">Tomar fotografia <i class="fa fa-camera-retro fa-2x"></i></button>
			<div style="text-align: center;">
				<img *ngFor="let image of listImages"  class="image" style="width: 25%"  src="{{image}}" />
			</div>
			<div class="btn-group">
	            <button type="button" style="width: 50%" class="btn btn-default btn-prev" (click)="showStep(1)"> <i class="fa fa-angle-left"></i> Anterior</button>
	            <button type="button" style="width: 50%" class="btn btn-default btn-next" (click)="showStep(3)">Siguiente <i class="fa fa-angle-right"></i></button>
	        </div>
		</div>
		<div style="height: 100%" class="step oculto" #step3>
			<div class="input-group">
			  <input type="text" [(ngModel)]="textoDireccion" class="form-control" placeholder="Buscar por dirección...">
			  <span class="input-group-btn">
				<button (click)="buscarMapa()" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			  </span>
			</div> 
			
			
			<div id="content-map">
				<div #map2 id="map2"></div>  
			</div>
			
			
			<div class="btn-group" style="margin-top: 5px;">
	            <button type="button" style="width: 50%" class="btn btn-default btn-prev" (click)="showStep(3)"> <i class="fa fa-angle-left"></i> Anterior</button>
	            <button type="button" style="width: 50%" class="btn btn-default btn-next" (click)="showStep(4)">Finalizar <i class="fa fa-check"></i></button>
	        </div>
		</div>
		<div style="text-align: center;" class="step oculto" #step4>
            <img style="width: 300px;" src="assets/img/loading.gif" />
		</div>
	</div>
	
</ion-content>
