<ion-content>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet">
    <link href="assets/css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet" type="text/css">
	<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet" type="text/css">
	<style>
		.navbar-container h2 {
			color: #FFFFFF;
			margin-top: 12px;
			margin-right: 15px;
			font-weight: bold;
			font-size: 18px !important; 
		}
		.navbar-container .fa {
			font-size:  30px;
			color: #FFFFFF;
			margin-top: 7px;
			margin-left: 7px;
		}
		#map, #content-map {
			width: 100%;
			height: 100%;
		}
		#content-map {
			padding-top: 45px;
		}
	</style>
	
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-container">
				<div class="pull-left"><a [navPush]="dashboardPage"><i class="fa fa-arrow-left"></i></a></div>
				<div class="pull-right"><h2>Ofertas Cercanas</h2></div>
            </div>
        </div>
    </div>
	<div id="content-map">
		<div #map id="map"></div>  
	</div>
</ion-content>
