<ion-content>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet">
    <link href="assets/css/weather-icons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link id="beyond-link" href="assets/css/beyond.css" rel="stylesheet" type="text/css">
	<link href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css" rel="stylesheet" type="text/css">
		<style>
		.navbar-container h2 {
			color: #FFFFFF;
			margin-top: 12px;
			margin-right: 15px;
			font-weight: bold;
			font-size: 18px !important; 
		}
		.navbar-container .fa {
			font-size:  30px;
			color: #FFFFFF;
			margin-top: 7px;
			margin-left: 7px;
		}
		.image {
			margin: 10px;
			box-shadow: 0 0 5px #000;
		}
		
		#map, #content-map {
			width: 100%;
			height: 100%;
			min-height: 300px !important;
		}
		.label {
			width: 100% !important;
		}
		.btn-default {
			color: #CCC !important;
			background: rgb(0, 131, 132) !important;
			border: 1px solid rgb(0, 113, 115) !important;
			box-shadow: 0 0 5px rgb(0, 113, 115) !important;
			transition: 0.5s;
		}
		.btn-default:hover {
			color: #FFFFFF !important;
			text-shadow: 0 0 10px #FFFFFF;
		}
		.comment {
            padding-top: 2px !important;
		}
		.img-profile {
            width: 30px !important;
            height: 30px !important;
		}
	</style>
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="navbar-container">
				<div class="pull-left"><a (click)="goToOffer()"><i class="fa fa-arrow-left"></i></a></div>
				<div class="pull-right"><h2>Comentarios</h2></div>
            </div>
        </div>
    </div>
    
    <div class="widget-body">
        <div  class="comment">
            <div class="comment-body">
                <textarea class="form-control" [(ngModel)]="comentario"></textarea>
                <button class="btn btn-default" (click)="addComment()" style="width: 100%; margin-top: 3px;">Agregar Comentario <i class="fa fa-comments"></i></button>
            </div>
        </div>
        
        <div class="comment" *ngFor="let item of data">
            <div class="comment-body">
                <div class="comment-text">
                    <div class="comment-header">
                        <img src="{{item.profile_photo}}" class="img-profile" />
                        <span>{{item.name}}</span>
                        <span>{{item.date}}</span>
                    </div>
                        {{item.commentary}}
                </div>
            </div>
        </div>
        
    </div>

</ion-content>
